{% extends "base_mission.html" %}
{% block content %}
<h1>Список Работ на Миссии</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название работы</th>
        <th>Ответственный</th>
        <th>Продолжительность (часы)</th>
        <th>Команда</th>
        <th>Завершена</th>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>{{ job[0] }}</td>
        <td>{{ job[1] }}</td>
        <td>{{ job[2] }} {{ job[3] }}</td>
        <td>{{ job[4] }}</td>
        <td>{{ job[5] }}</td>
        <td>{% if job[6] == 0 %}Да{% else %}Нет{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
